<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout::page(title='List of Bottle')">
<body>
<div th:fragment="content1">

    <section style="background-color: #eee;">
        <div class="container py-5">
            <div th:each="bottle : ${bottles}" class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img th:src="${bottle.pic}" class="w-100" height="300" width="100"/>
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div
                                                        class="mask"
                                                        style="background-color: rgba(253, 253, 253, 0.15);"
                                                ></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <h5 th:text="${bottle.name}">Quant trident shirts</h5>
                                    <div class="d-flex flex-row">
                                        <div class="text-danger mb-1 me-2">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <span>310</span>
                                    </div>
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span th:text="${bottle.volumePercent}">100% cotton</span>
                                        <span class="text-primary"> • </span>
                                        <span th:text="${bottle.inStock}">Light weight</span>
                                        <span class="text-primary" th:text="${bottle.alcoholic}"> • </span>
                                        <span th:text="${bottle.volume}">Best finish<br/></span>
                                    </div>
                                    <p class="text-truncate mb-4 mb-md-0" th:text="${bottle.supplier}">
                                        There are many variations of passages of Lorem Ipsum available, but the
                                        majority have suffered alteration in some form, by injected humour, or
                                        randomised words which don't look even slightly believable.
                                    </p>
                                </div>
                                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1" th:text="${bottle.price}">$13.99</h4>
                                        <span class="text-danger"><s>$20.99</s></span>
                                    </div>
                                    <h6 class="text-success">Free shipping</h6>
                                    <div class="d-flex flex-column mt-4">
                                        <a class="btn btn-primary btn-sm" th:href="@{/bottle/{id}(id=${bottle.id})}" type="button">Details</a>
                                        <button class="btn btn-outline-primary btn-sm mt-2"  type="button">
                                            Add to wishlist
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="btn btn-primary btn-lg float-end" th:href="@{/bottle/new}" type="button">Add New</a>
        </div>
    </section>
    <style>
        @media (max-width: 767.98px) {
            .border-sm-start-none {
                border-left: none !important;
            }
        }
    </style>
</div>
<div th:fragment="content2"></div>
<style>
    body {
        background: #eee
    }

    .ratings i {
        color: green
    }

    .install span {
        font-size: 12px
    }

    .col-md-4 {
        margin-top: 27px
    }
</style>
</body>
</html>