<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout::page(title='Users')">
<body>
<div th:fragment="content1">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Orders</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <th scope="row" th:text="${user.username}"></th>
                <th scope="row" th:text="${user.password}"></th>
                <th scope="row" th:text="${user.birthday}"></th>
                <th scope="row" th:text="${user.orders}"></th>
                <th scope="row">
                    <!-- th:href="@{/bottle/{id}(id=${bottle.id})}" -->
                    <a class="btn btn-primary btn-sm" href="#" type="button">Details</a>
                    <a class="btn btn-primary btn-sm" th:href="@{/address/{id}(id=${user.id})}" type="button">Add Address</a>
                    <a class="btn btn-primary btn-sm" href="#" type="button">Update</a>
                </th>

            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-lg float-end" th:href="@{/user/new}" type="button">Add New</a>

    </div>
</div>
<div th:fragment="content2"></div>

</body>
</html>