<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout::page(title='Beverage')">
<body>
<div th:fragment="content1">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4" th:each="beverage : ${beverages}">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img th:src="${beverage.pic}" width="150" height="300">
                        <div class="d-flex flex-column ml-2"><span th:text="${beverage.inStock}">Stripe</span><span
                                class="text-black-50" th:text="${beverage.price}">Payment Services</span><span
                                class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6 th:text="${beverage.name}">Get more context on your users with stripe data inside our
                        platform.</h6>
                    <div class="d-flex flex-column mt-4">
                        <a class="btn btn-primary btn-sm" th:href="@{/{id}(id=${beverage.id})}"
                           type="button">Details</a>
                        <a class="btn btn-outline-primary btn-sm mt-2"  th:href="@{/cart/{id}(id=${beverage.id})}"
                           type="button"> Add to wishlist
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:fragment="content2"></div>
<style>
    body {
        background: #eee
    }

    .ratings i {
        color: green
    }

    .install span {
        font-size: 12px
    }

    .col-md-4 {
        margin-top: 27px
    }
</style>
</body>
</html>