<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout::page(title='Home')">
<body>
<div th:fragment="content1">
    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10" th:each="cart :${session.cart}">
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img th:src="${cart.beverage.pic}"
                                         class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2" th:text="${cart.beverage.name}"></p>
                                    <p>
                                        <span class="text-muted">Price: </span>
                                        <span th:text="${cart.beverage.price }"></span>

                                        <span class="text-muted">Quantity : </span>
                                        <span th:text="${cart.quantity }"> </span>

                                    </p>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <div class="col"><span class="text-muted">Sub Total : </span></div>
                                    <div class="col"><h5 class="mb-0"
                                                         th:text="${cart.beverage.price * cart.quantity }"></h5></div>

                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a th:href="@{/cart/remove/{id}(id=${cart.beverage.id})}"
                                       onclick="return confirm('Are you sure?')" class="text-danger">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-10">
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row" style="  display: flex;   justify-content: right;   align-items: center;">
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h6>Sum</h6>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0" th:text="${session.total }"></h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <br>
                <br>
                <div class="container">
                    <div style="  display: flex;   justify-content: center;   align-items: center;">
                        <a th:href="@{/}" type="button"
                           class=" btn btn-primary btn-block btn-lg">Continue Shopping </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:fragment="content2"></div>
</body>
</html>