<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="page(title)">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="${title}">Shop Homepage - Start Bootstrap Template</title>

    <!-- Favicon
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    -->
    <!-- Bootstrap icons-->
    <link type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<div th:replace="headerandfooter :: navbar"></div>
<!-- Header-->
<div th:replace="headerandfooter :: header"></div>
<!-- Section-->
<div th:replace="this :: content1"></div>
<div th:replace="this :: content2"></div>
<!-- Footer-->
<div th:replace="headerandfooter::footer"></div>
<!-- Bootstrap core JS-->
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>
